extends layout
block nav
  if isAdmin
    header
      ul.navigation.home
        li.navigation__item.home
          a(href='/admin/create/new').navigation__link
            span.link__icon: img(src='../assets/icons/new.svg')
            span.link__text New
        li.navigation__item
          a(href='/logout').navigation__link
            span.link__icon: img(src='../assets/icons/logout.svg')
            span.link__text Log out

block content
  section.post
    each post in posts
      .post__container
        span.post__date= moment(post.createdAt).format('MMM, Do, YYYY')
        a(href=`/post/${post._id}`).post__link= post.title
