extends layout

block nav
  if isAdmin
    ul
      li: a(href='/admin/create/new') New post
      li: a(href='/logout') Log out

block content
  section.post
    each post in posts
      .post__container
        span.post__date Jun, 5th, 2017
        a(href=`/post/${post._id}`).post__link= post.title
