extends layout

block nav
  if isAdmin
    ul
      li: a(href='/admin/create/new') New post
      li: a(href='/logout') Log out

block content
  ul
    each post in posts
      li
        a(href=`/post/${post._id}`)= post.title
